@import '../../vars.css';

.container {
    color: var(--color-text);
    position: relative;
    margin-top: 20px;
}

.title {
    padding-top: 30px;
    margin-left: 30px;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.75px;
    font-family: var(--font-roboto);
    margin-bottom: 50px;
}

.contents {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.skills {
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    gap: 37px;
    margin-bottom: 30px;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
}

.imageContainer {
    background-image: linear-gradient(180deg,rgba(165,215,232,0.42)0%,rgba(255,255,255,0)100%);
    border-radius: 100%;
    display: flex;
    align-items: center;
    width: 120px;
    height: 120px;
    justify-content: center;
}

.imageContainer img {
    width: 75px;
}

.skill p{
    font-size: large;
    font-family: var(--font-roboto);
    font-weight: 500;
}

.history{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.historyItem{
    display: flex;
    gap: 11px;
    list-style: none;
}

.historyItemDetails{
    display: flex;
    flex-direction: column;
    gap: 11px;
    font-family: var(--font-roboto);
}

.historyItemDetails h3{
    font-size: 30px;
    font-weight: 600;
}

.historyItemDetails p{
    font-size: 20px;
    margin-bottom: 10px;
}

.historyItemDetails ul{
    font-size: 25px;
    list-style-position: inside;
    list-style-type: disc;
}

.historyLogo {
    width: 75px;
}

@media screen and (max-width:830px){

    .contents{
        flex-direction: column;
        align-items: center;
        gap: 34px;
    }

    .skills{
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }

    .history{
        margin-top: 5%;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 10%;
        gap: 9px;
    }
    .historyItemDetails h3{
        font-size: 25px;
        font-weight: 600;
    }
    .historyItemDetails ul{
        line-height: 1.5;
        list-style-position: outside;
        list-style-type: disc;
        font-size: large;
    }
}